.main {
  justify-content: center;
  text-align: center;
  /* width: 100%; */
  /* height: 100%; */
  /* column-count: 4; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  justify-content: center;
  text-align: center;
  float: left;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  width: 445px;
  height: 700px;
  margin: auto;
  padding: 10px;
}